<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="gomApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="gomApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="gomApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="gomApp" class="no-js"> <!--<![endif]-->
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>GM-O-MATIC</title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
   <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
   <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
         rel="stylesheet">
   <link rel="stylesheet" href="css/app.css">
   <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body layout="column" ng-controller="MetaCtrl as meta">
   <md-toolbar layout="row">
      <div class="md-toolbar-tools">
         <md-button ng-click="meta.toggleMenu()" class="md-icon-button" aria-label="Menu" hide-gt-md>
            <i class="material-icons md-36">menu</i>
         </md-button>
         <md-button class="game-button" ng-click="meta.gameSwitcher()" aria-label="Switch Game">
            <h1 ng-if="!meta.game">GM-O-MATIC</h1>
            <h1 ng-if="meta.game">{{meta.game.name}}</h1>
            <i class="material-icons">arrow_drop_down</i>
         </md-button>
         <span flex></span>
         <h2 ng-if="!meta.user">NOT LOGGED IN</h2>
         <div ng-show="meta.user">
            <md-button ng-href="#/global/{{meta.user.username}}/profile" class="profile-button">
               <span>{{meta.user.username}}</span>
               <i class="material-icons md-36">person</i>
            </md-button> 
            <md-button class="md-icon-button logout-button" aria-label="Logout">
               <i class="material-icons md-36">exit_to_app</i>
            </md-button>
         </div>
      </div>
   </md-toolbar>
   <div id="main" layout="row" flex>
   <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="$mdMedia('gt-md')" md-component-id="menu" layout="column">
      <md-button ng-href="#/characters">Character List</md-button>
      <md-button ng-href="#/turnsheet">Turnsheet</md-button>
      <md-button ng-href="#/workflow">GM Workflow</md-button>
   </md-sidenav>

   <md-content flex layout="column" id="content" ng-view>
   <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
   <![endif]-->
   </md-content>

   <!-- Bower-supplied components -->
   <script src="bower_components/angular/angular.js"></script>
   <script src="bower_components/angular-aria/angular-aria.js"></script>
   <script src="bower_components/angular-animate/angular-animate.js"></script>
   <script src="bower_components/angular-cookies/angular-cookies.js"></script>
   <script src="bower_components/angular-django-rest-resource/angular-django-rest-resource.js"></script>
   <script src="bower_components/angular-material/angular-material.js"></script>
   <script src="bower_components/angular-messages/angular-messages.js"></script>
   <script src="bower_components/angular-resource/angular-resource.js"></script>
   <script src="bower_components/angular-route/angular-route.js"></script>

   <!-- GOM app js -->
   <script src="app.js"></script>
   <script src="character/character.js"></script>
   <script src="player_profile/player_profile.js"></script>
   <script src="meta/meta.js"></script>
   <script src="user/user.js"></script>

   </div>

</body>
</html>
