/* MD Icon Font additional support */
.material-icons { padding: 5px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Gird the app to a sane width */
div#wrapper {
   max-width: 1200px;
}

/* Ensure sidenav sits below toolbar */
div#main {
   position: relative;
}

/* Ensure toolbar buttons display correctly */
.game-button {
   position: relative;
   top: -10px;
   h1 {
      display: inline;
      font-size: 250%;
   }
   i.material-icons {
      font-size: 48px;
      margin-left: -12px;
      position: relative;
      top: 12px;
   }
}
.profile-button {
   position: relative;
   top: -5px;
   span {
      font-size: 150%;
   }
   i.material-icons {
      font-size: 48px;
      margin-left: -8px;
      position: relative;
      top: 15px;
   }
}
.logout-button {
   position: relative;
   top: -8px;
}

/* Styling for single line edit fields with buttons */
h2.inline-label {
   position: absolute;
   bottom: 0;
   left: 0;
   margin: 0;
   font-weight: bold;
   text-transform: uppercase;
   line-height: 45px;
   white-space: nowrap;
   vertical-align: middle;
}

/* Character attribute editor */
div.gom-attr-select {
   padding: 5px;
   border-bottom: 1px solid;
   margin-bottom: 5px;

   span.attr-name {
      font-weight: bold;
   }
}
