<md-subheader class='md-accent'>{{gs.game.name}} Game Setup</md-subheader>
<ng-form name='gameForm'>
   <md-input-container>
      <label>Summary</label>
      <input ng-model='gs.game.summary' name='summary' required md-maxlength='140' gom-async-save='gs.game'>
      <div ng-messages='gameForm.summary.$error'>
         <div ng-message='required'>This field is required.</div>
         <div ng-message='md-maxlength'>This field can be at most 140 characters</div>
      </div>
   </md-input-container>
   <md-input-container>
      <label>Description</label>
      <textarea ng-model='gs.game.description' name='description' required gom-async-save='gs.game'></textarea>
      <div ng-messages='gameForm.description.$error'>
         <div ng-message='required'>This field is required.</div>
      </div>
   </md-input-container>
</ng-form>
<md-subheader class='md-accent'>Attributes</md-subheader>
<md-tabs>
   <md-tab ng-repeat='class in gs.attrClasses' label='{{class.name}}'>
      <div>Stuff and things</div>
   </md-tab>
</md-tabs>
<form ng-submit='gs.addNewAttrClass()' class='md-padding' style='padding-top: 0;'><div layout='row'>
   <div flex style='position: relative;'>
      <h2 class='md-subhead inline-label'>Add new attribute class:</h2>
   </div>
   <md-input-container>
      <label>Class Name (e.g. Skills, Quirks)</label>
      <input type='text' name='className' ng-model='gs.newClassName'>
   </md-input-container>
   <md-button class='md-accent md-raised' ng-disabled='!gs.newClassName' aria-label='Add Attribute Class' type='submit'>Add Class</md-button>
</div></form>
