<form>
   <md-subheader class='md-accent'>
      User: {{profile.user.username}}
   </md-subheader>
   <md-input-container>
      <label>Real name (for GMs)</label>
      <input ng-model='profile.user.name'>
   </md-input-container>
   <md-input-container>
      <label>Display name (public)</label>
      <input ng-model='profile.user.displayname'>
   </md-input-container>
   <md-input-container>
      <label>Email</label>
      <input ng-model='profile.user.email' type='email'>
   </md-input-container>
   <md-button class='md-accent md-raised'>
      Change Password
   </md-button>
</form>
